* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  scroll-behavior: smooth;
}
/* Global  */
img {
  width: 100%;
}  
li {
  list-style: none;
}
h2 {
  font-size: 2rem;
  color: #303030;
  line-height: 1.5rem;
  margin: 20px 0;
}
.container {
  margin:  auto;
  width: 70%;
}
.settings {
  font-size: 1.3rem;
  color: #666;
  background-color: white;
  position: fixed;
  right: 0;
  top: 200px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 -1px 17px 1px rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.settings ul {
  padding: 0 10px;
  /* margin: 0; */
}
.settings li {
  margin: 20px 0;
  transition: all 0.4s;
}
.settings .shop:hover,
.settings .ters:hover {
  color: #218fe6;
}

:root {
  --main-color: #a37c47;
  --second-color: #8e7754;
  --sections-padding:60px;
  --parag-color : #686868;
  --main-fontsize:1.2rem;
}
/* start nav style */
.nav{
  background-color: var(--second-color);
  position: fixed;
  left: 0;
  right: 0;
}
.nav .logo {
  width: 13%;
  float: left;
  margin-top: 5px;
}
.nav .nav-links {
  padding: 5px;
  width: 50%;
  float: right;
  font-size: 1rem;
}

.nav .nav-links ul li {
  float: left;
  padding: 10px;

}

.nav .nav-links ul li a:hover{
  color: var(--main-color);
}
.nav .nav-links ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.5s;
}
.clear {
  clear: both;
}
/* end nav style  */
/* ****************************** */

/* START WELCOME SECTION */
.welcome {
  position: relative;
  background-image: url(../Img/welcome.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center center;
  /* font-family: "Alegreya Sans", sans-serif; */
  overflow: hidden;
}
.welcome .welcome-bg {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.welcome .ct {
  margin-top: 80px;
  text-align: center;
  color: white;
}
.welcome .ct p {
  font-size: var(--main-fontsize);
}
.welcome h1 {
  font-family: "Alegreya ", serif;
  font-size: 78px;
  font-weight: bold;
  margin: 20px 0;
}
.welcome button {
  font-size: 16px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 20px;
  margin-top: 80px;
  border-radius: 5px;
  transition: all 0.5s;
}
.welcome button:hover {
  color: black;
  background-color: white;
}
.welcome .btn2 {
  background-color: var(--second-color);
  border: 1px solid transparent;
  margin-right: 10px;
}
@media screen and (max-width: 1000px) {
  .welcome .ct {
    width: 100%;
    padding: 30px;
  }
  .meal,
  .about .desc,
  .about .img,
  .about2 .desc,
  .about2 .img,
  .contact .desc,
  .contact .img {
    width: 100%;
  }
  .summery .col {
    width: 75%;
    margin: 20px auto;
  }
}
.scroll {
  position: relative;
  width: 30px;
  height: 50px;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 25px;
  margin: 30px auto;
  cursor: pointer;
}
.scroll::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 45%;
  right: 30%;
  background-color: white;
}

/* END  WELCOME SECTION */
/* ********************************* */

/* Start About section  */

.about {  

  font-size: var(--main-fontsize);

padding: var(--sections-padding);
}
.about .about-img {
  float: left;
    width: 40%;
  }
.about .about-content {
  color: var(--parag-color);
  margin: 0 40px;
  float: left;
  width: 50%;
}
.about .about-content p{
  margin: 30px 5px;

}
.about ul{
  padding: 0;
}
.about .about-content  li{
  /* padding: 10px; */
  margin: 10px 0; 
}
.about .about-content i{
  font-size: 1.3rem;
  color: var(--second-color);
  width: 2em;
  height: 2em;
  text-align: center;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 50%;
  padding-top: 5px;
  margin: 0 10px;
  
}

/* End Abour Section  */
/* ********************************* */

/* Start About 2 section  */
.about2 {
  font-size: var(--main-fontsize);
  background-color: #f8f8f8;
  padding: var(--sections-padding);
}
.about2 .img {
  width: 40%;
  float: left;
}
.about2 .desc {
  margin: 30px 40px;
  color: var(--parag-color);

  float: left;
  width: 40%;
}
.about2 .desc p{
  margin: 30px 5px;
}
/* End About 2 Section  */
/* -********************************* */

/* Start  Meals section  */
.meals {
  color: var(--parag-color);
  font-size: var(--main-fontsize);

  padding: var(--sections-padding) ;
  text-align: center;
}
.meals .head {
  padding: 10px 0;
}
.meal {
  float: left;
  width: calc(100% / 3);
  padding: 20px;
  transition: all 0.5s;
}
.meal:hover{
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3);
}
/* End Meals  Section  */
/* -********************************* */

/* start Contact Section  */
.contact {
  padding: var(--sections-padding);
  background-color: #f8f8f8;
  color: var(--parag-color);
  font-size: var(--main-fontsize);

}
.contact .desc {
  margin: 0 40px;
  width: 50%;
  float: left;
}
.contact .desc p{
  margin: 20px 0;
}
.contact .map {
  width: 40%;
  float: left;
}
iframe{
  width: 100%;
}
.contact i {
  color: white;
  background-color: var(--second-color);
  width: 2em;
  height: 2em;
  padding: 7px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  margin: 0 10px;
}
.contact ul li {
margin: 10px ;}
/* End Contact Section  */
/* -********************************* */

/* start summery style */
.summery {
  padding:  var(--sections-padding);
  background-color: #403d38;
  font-size: var(--main-fontsize);

}
.summery h4 {
  margin-bottom: 20px;
  color: white;
}
.summery p {
  color: #969696;
  font-size: 16px;
}
.summery .col {
  float: left;
  width: 25%;
  padding: 10px;
}
.col ul {
  padding: 0;
  margin: 0;
}
.col li {
  font-size: 16px;
  color: #969696;
  margin: 5px 0;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  transition: all 0.3s;
}
.col .last {
  border: 0px;
}
.col li:hover{
  color: white;
  margin-left: 10px;
}
/* End  summery style */
/* -********************************* */

/* <!-- Start Footer Section  --> */

.footer { 
  background-color: #353330;
}
.footer .content {
  padding-top: 30px;
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

.footer p {
  color: #777;
  font-size: 13px;
  margin: 20px;
}
.footer li {
  color: #8c8a86;
  display: inline-block;
  /* text-align: center; */
  background-color: #484540;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin: 20px 0;

  padding: 6px;
  transition: all 0.5s;
}
.footer .face:hover {
  background-color: #3b5998;
  color: white;
}
.footer .mail:hover {
  background-color: #dd4b39;
  color: white;
}
.footer .twitter:hover {
  background-color: #007bb5;
  color: white;
}
.footer .link:hover {
  background-color: #007bb5;
  color: white;
}
/* <!-- End Footer Section  --> */
@media screen and (max-width: 1000px) {
  .welcome .ct {
    width: 100%;
    padding: 30px;
  }
  .meal,
  .about .desc,
  .about .img,
  .about2 .desc,
  .about2 .img,
  .contact .desc,
  .contact .img {
    width: 100%;
  }
  .summery .col {
    width: 75%;
    margin: 20px auto;
  }
}
